<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Filmy Destination</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/style_content.css">
</head>
<body>
    
    {{!-- Navigation Bar --}}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand">TFD</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/landingpage">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/feedback">Feedback</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link active" href="/profile" >Profile</a>
                  </li>
                </ul>
                <form class="d-flex" action="/search" method="POST">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_parameter">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <form class="d-flex" action="/auth/logout" method="GET">
                  <button class="btn btn-outline-success" type="submit">Logout</button>
                </form>
              </div>
            </div>
        </nav>
    {{!-- Navigation Bar ends     --}}
    {{#each movie}}
    <img src="{{this.link}}" alt="Film Poster">
    <div class="information">
      <h1>{{this.title}}</h1>
      <h4>SYNOPSIS</h4>
      <p style="height: 130px;">{{this.about}}</p>
      <h4>CAST & CREW</h4>
      {{/each}}
      <p style="height: 80px;">  
      {{#each results}}
        <a href="/person/?name={{this.name}}" style="text-decoration: none;">{{this.name}}</a><br>
      {{/each}}
      </p>
      {{#each movie}}
      <h4>RATING : {{this.rating}}</h4>
      <h4>STREAM NOW : <a href="{{this.slink}}">{{this.slink}}</a></h4>
      {{/each}}
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>

